<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Asistente APV</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
    <link rel="icon" type="image/x-icon" href="{{ url_for('static', filename='favicon.png') }}">
</head>
<body>
    <div id="chat-container">
        <div id="chat-header">
            <h1>APV Bot</h1>
            <p>Te ayudamos en tu APV</p>
        </div>
        <div id="chatbox"></div>
        <div id="input-container">
            <input type="text" id="user-input" placeholder="Escribe tu mensaje" onkeypress="handleKeyPress(event)">
            <button class="send-button" onclick="sendMessage()">Enviar</button>
        </div>
        <div class="loader" id="loader">Pensando... 🤔</div>
    </div>

    <script src="/static/scripts.js"></script>
</body>
</html>
